<a href="https://colab.research.google.com/github/2303A51835/23CSBTB27-28/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PART 1 IMPLEMENT BASIC DATA STRUCTURES USING NUMPY, PANDA

In [1]:
list=["Geeks","For","Geeks"]
list1="my first lab"
list2=4.3
list3=2j+6
list4='My first lab'
print(type(list))
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))
print("\nList items:")
print(list[0])
print(list[1])
print(list[2])

<class 'list'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

List items:
Geeks
For
Geeks

In [2]:
import numpy as np
list={1,5,2,6,7}
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list))
print(type(list1))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'set'>
<class 'list'>

In [4]:
List={1:"thota shiva lingeshwar",2:"sps",3:"1038",4:"2005"}
print("\nlist with the use of Mixed values; ")
print(List)
print(type(List))

list with the use of Mixed values;
{1: 'thota shiva lingeshwar', 2: 'sps', 3: '1038', 4: '2005'}
<class 'dict'>